html, body {
    height: 100vh;
}
body {
  background-color: cornsilk;

  font-family: sans-serif;
}
.text-center{
    text-align: center;
}
.valign-wrapper {
    display: flex;
    align-items: center;
}
.valign{
    display: block;
    margin: 0 auto;
}

