html, body {
    height: 100vh;
}

body {
  background: cornsilk;
}
:local(.redButton) {
  background: red;
}
.text-center{
  text-align: center;
}
.valign-wrapper {
    display: flex;
    align-items: center;
}
.valign{
    display: block;
    margin: 0 auto;
}
